<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:500" rel="stylesheet">

        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{{ asset('assets/public/templates/white/css/wbtheme.css') }}"/>

        <title>Wissem Bijoux</title>
        <link rel="icon" href="{{ asset('assets/public/templates/white/icons/favicon.png') }}">
    </head>

    <body>
        <header id="header">
            <a href="path('homepage')" class="header-logo">
                <svg viewBox="0 0 1936.64 364.7">
                    <path class="wbfill" d="M676,95.85V99c-10.58,0-26.08,6.64-46.5,54.87L586.67,269.06h-6.4c-11.56-26.57-40.84-96.94-45.76-108.26L495.14,269.06H488.5C457.5,196.73,425,119,425,119,416.9,99,411,99.29,404.6,99v-3.2h77.75V99c-18.7,0-7.14,28.54-7.14,28.54l36.17,87.1,21.41-58.31c-7.63-17.47-15.25-37.4-15.25-37.4C509.41,99,503.51,99.29,497.11,99v-3.2h77.5V99c-18.94,0-7.14,28.54-7.14,28.54l35.92,87.59,22.88-62c3-8.61,12.06-54.13-21.41-54.13v-3.2Z"/><path class="wbfill" d="M735.77,269.06h-56.1v-3c9.35-3,9.84-13.29,9.84-25.83V182.95c0-8.61-2.71-12.06-12.79-16.48v-3.2l49-10.09v87.1c0,13.53,1.23,23.37,10.09,25.83Z"/><path class="wbfill" d="M705,100a20.05,20.05,0,1,1,0,40.1,20.05,20.05,0,1,1,0-40.1Z"/>
                    <path class="wbfill" d="M800.73,271.28c-29.77,0-44.29-9.84-44.29-9.84V229.94h3.2c4.43,16.24,18.45,38.14,41.09,38.14,17.47,0,20.91-21.16,2.21-33.46l-24.85-15c-23.62-15-29.77-37.15-15.5-54.37,0,0,9.1-12.06,35.43-12.06,28.3,0,40.35,7.14,40.35,7.14v26.33h-3.2c-3.69-15.25-17.22-30.26-37.15-30.26-16,0-23.13,17.47-1.72,31l24.85,15.5C843.29,216.41,849.69,241,836.89,258,836.89,258,827.55,271.28,800.73,271.28Z"/>
                    <path class="wbfill" d="M911,271.28c-29.77,0-44.29-9.84-44.29-9.84V229.94h3.2c4.43,16.24,18.45,38.14,41.09,38.14,17.47,0,20.91-21.16,2.21-33.46l-24.85-15c-23.62-15-29.77-37.15-15.5-54.37,0,0,9.1-12.06,35.43-12.06,28.3,0,40.35,7.14,40.35,7.14v26.33h-3.2c-3.69-15.25-17.22-30.26-37.15-30.26-16,0-23.13,17.47-1.72,31l24.85,15.5C953.52,216.41,959.92,241,947.12,258,947.12,258,937.77,271.28,911,271.28Z"/>
                    <path class="wbfill" d="M1042.59,255.53c-16.48-3.69-28.54-14.76-29.52-45.52h72.58c0-42.32-20.67-56.84-51.67-56.84-32,0-59.79,21.16-59.79,59.54,0,31,24.11,58.56,56.34,58.56,32,0,48.22-18.45,51.67-34l-3.2-1.23C1073.59,252.33,1055.38,258.48,1042.59,255.53ZM1034,156.38c12.3,0,18.95,19.44,18.95,50.44h-39.86C1013.06,183.19,1020.94,156.38,1034,156.38Z"/>
                    <path class="wbfill" d="M1291.34,269.06h-56.1v-3c9.35-2.71,9.84-13.53,9.84-26.08V191.56c0-14-4.67-20.67-14.52-20.67-7.63,0-16.49,7.87-16.73,16V240c0,13.53,1.48,23.87,10.09,26.08v3h-56.1v-3c9.35-2.71,9.84-13.53,9.84-26.08V191.56c0-14-4.43-20.67-14.27-20.67-7.38,0-15,7.87-16.48,14.76v54.87c0,13.53,1.23,23.13,10.09,25.59v3h-56.1v-3c9.35-2.71,9.6-13,9.6-25.59V183.44c0-8.61-2.46-12.55-12.55-17v-3.2l49-10.09v24.36c6.15-13.53,18.94-24.36,33.46-24.36,17.22,0,30,7.14,33,25.83,5.41-14.76,19.44-25.83,34.45-25.83,19.44,0,33.46,7.87,33.46,37.4V240c0,13.53,1.48,23.87,10.09,26.08Z"/>
                    <path class="wbfill" d="M1385.51,180.24c4.92,0,39.61-3.2,39.61-42.07,0-38.63-27.56-42.32-61.76-42.32h-43.8v2.21c10.83,0,14.27,9.1,14.27,24.36V241.75c0,16.73-3.69,25.1-14.27,25.1v2.21h43.8c42.57,0,73.32-1.48,73.32-44C1436.69,183.69,1401.5,180.24,1385.51,180.24Zm-31.74-81.68h11.56c16.73,0,37.15,3.44,37.15,39.37,0,37.64-15.25,42.07-31.25,42.07h-17.47Zm11.56,167.8h-11.56V182.7h17.47c19.19,0,42.32,1,42.32,41.33C1413.56,266.85,1389.94,266.36,1365.33,266.36Z"/>
                    <path class="wbfill" d="M1494.51,269.06h-36.66v-2.71c9.35-2.71,9.84-3.94,9.84-16.48V174.58c0-8.37-2-11.81-12.3-13.29v-2.46l29-5.66v96.69c0,13.53,1.23,14.27,10.09,16.48Z"/>
                    <path class="wbfill" d="M1463.26,121.93a10.3,10.3,0,0,1,10.33-10.58,10.46,10.46,0,1,1,0,20.91A10.24,10.24,0,0,1,1463.26,121.93Z"/>
                    <path class="wbfill" d="M1522.8,175.81c0-8.37-1.48-13-12.06-14.52v-2.46l29-5.66V256.76c0,46.5-14.76,62.25-39.12,68.4V322.7c22.14-7.38,22.14-47.24,22.14-60.28Z"/>
                    <path class="wbfill" d="M1518.62,121.93c0-6.15,4.43-10.58,10.33-10.58a10.5,10.5,0,0,1,10.58,10.58A10.61,10.61,0,0,1,1529,132.26,10.24,10.24,0,0,1,1518.62,121.93Z"/>
                    <path class="wbfill" d="M1625.15,153.18c-37.4,0-55.85,26.57-55.85,59,0,32.23,18.45,59,55.85,59,37.64,0,55.85-26.82,55.85-59C1681,179.75,1662.8,153.18,1625.15,153.18Zm0,115.39c-19.44,0-36.17-11.81-36.17-56.34s16.73-56.34,36.17-56.34,35.92,11.81,35.92,56.34S1644.59,268.57,1625.15,268.57Z"/>
                    <path class="wbfill" d="M1809.68,267.09,1785.82,271c-5.66,1.23-5.66-3.2-5.66-3.2V247.41c-3.44,12.55-17.47,23.87-34.45,23.87s-37.15-5.66-37.15-36.91V177.78c0-16.48,0-17.47-13.78-17.47v-2.71l30.26-4.43v80.45c0,20.91,13.53,28.3,27.8,28.3,14.76,0,23.62-9.84,27.31-20.42v-65c0-15,.25-16-11.56-16.24v-2.71l28.54-4.43v96.45c0,11.81,2.21,13.78,12.55,15Z"/>
                    <path class="wbfill" d="M1936.64,266.6v2.46h-44.53V266.6c13,0,0-17.47,0-17.47l-19.68-28.54-8.37,11.81c-16.24,24.6-21.9,34.2-.49,34.2v2.46h-47V266.6c8.86,0,19.44,1.72,45.52-35.92l8.61-12.3-32.23-46.75c-9.84-12.3-13.29-13.53-20.91-13.78v-2.46h45.52v2.46c-6.15,0-11.81,3.69-1.72,18.21l18.7,27.31,7.87-11.07c12.06-19.44,22.88-34.45-3-34.45v-2.46h50.93v2.46c-11.32.25-20.91-1-46,36.41l-8.37,11.56,32,47C1922.86,266.36,1932.21,266.11,1936.64,266.6Z"/>
                    <path class="wbfill" d="M215.59,71.35,197.64,55.17l-68.4,156.54-.3-.2c-2-1.13-4.32-1.17-6.75-1.17s-5-.38-7,.76-3,3.65-4.15,5.67-2.29,4-2.29,6.43.16,5.05,1.29,7a14.4,14.4,0,0,0,5.38,4.71,18.39,18.39,0,0,0,3.05,1.43l-8.9,20.38,180.48,9.89,3.61.11L304.16,242l-36.49-37.68,48.41,2.6,3.9-.48,8.89-21,1.28-2.93Zm-35.25,77.17,31.11,31.21-28.62-1.1-15.58-.14Zm96.57,95.6-40.82-1.73-41.83-3-52.07-3.53,16.32-37.35L234,201.56Zm-14.78-61.38-19.47-1.09-50.81-49.89-3-2.76,16.57-37.93,96.45,95.2Z"/>
                    <path class="wbfill" d="M182.35,0A182.35,182.35,0,1,0,364.7,182.35,182.35,182.35,0,0,0,182.35,0Zm0,344.09a161,161,0,0,1-104.06-38,12.31,12.31,0,0,0,2.28-2.82,13.24,13.24,0,0,0,2.1-6.31c0-2.24-1.24-4.39-2.29-6.2a12.84,12.84,0,0,0-10.74-6.37c-2.24,0-4,1.43-5.83,2.47a15.13,15.13,0,0,0-3,2.14,162.17,162.17,0,0,1-26.22-40.8,15,15,0,0,0,5.18-5.31,18.72,18.72,0,0,0,.06-15.62,15.89,15.89,0,0,0-5.48-6.17c-2.37-1.37-5.15-2.73-8.08-2.73a6.43,6.43,0,0,0-1.6.23,161.66,161.66,0,0,1-4.09-36.21c0-89.18,72.55-161.74,161.74-161.74S344.09,93.17,344.09,182.35,271.53,344.09,182.35,344.09Z"/>
                    <path class="wbfill" d="M95.9,251.15a7.69,7.69,0,0,0-5.45,2.32,7.35,7.35,0,0,0-1.88,5.45,6.8,6.8,0,0,0,7.33,7.37,6.8,6.8,0,0,0,7.47-7.37c0-2.15-.42-4.24-1.82-5.65A8,8,0,0,0,95.9,251.15Z"/>
                    <path class="wbfill" d="M58.12,261.4a5.25,5.25,0,0,0-5.5,5.3,5.33,5.33,0,0,0,5.5,5.41,5.26,5.26,0,0,0,5.41-5.41A5.17,5.17,0,0,0,58.12,261.4Z"/>
                    <path class="wbfill" d="M80.48,237.13a13.08,13.08,0,0,0-4.33-5,13.09,13.09,0,0,0-6.5-1.29,12.1,12.1,0,0,0-6.11,2A12.48,12.48,0,0,0,58.65,237c-1.07,1.85-1.09,4.06-1.09,6.35s-.08,4.56,1,6.41,3.11,3,5,4.13a11.78,11.78,0,0,0,6.08,1.73c2.29,0,4.69.14,6.54-.93A13.64,13.64,0,0,0,81,249.93c1.07-1.85,1-4.25,1-6.54A12.24,12.24,0,0,0,80.48,237.13Z"/>
                    <path class="wbfill" d="M118.58,193.4c2.32,0,4.9.65,6.92-.19a19,19,0,0,0,5.79-4c1.58-1.58,2.31-4,3.18-6.13a17.26,17.26,0,0,0,1.39-6.58,18.21,18.21,0,0,0-.85-6.81c-.87-2.09-2.66-3.81-4.24-5.39a17.41,17.41,0,0,0-5.58-3.76,17.2,17.2,0,0,0-6.61-.91c-2.32,0-4.68-.14-6.7.7a18.4,18.4,0,0,0-5.94,3.53c-1.58,1.58-1.71,4.25-2.57,6.34a15.82,15.82,0,0,0-1.29,6.3c0,2.32-1.1,4.93-.27,6.95s3.73,2.94,5.31,4.52,3,3.14,5.06,4A16.43,16.43,0,0,0,118.58,193.4Z"/>
                    <path class="wbfill" d="M97.51,210.19c.93-1.6.53-3.68.53-5.66A10.23,10.23,0,0,0,97,199.19a11,11,0,0,0-3-3.42,8.26,8.26,0,0,0,2.1-5.64,7.66,7.66,0,0,0-2.56-5.34,7.54,7.54,0,0,0-5.34-2.44,7.7,7.7,0,0,0-5.46,2.32,8.14,8.14,0,0,0-2.74,5.46,8.53,8.53,0,0,0,2.33,5.64c-1.57.89-3.18,1.71-4.08,3.27a13.8,13.8,0,0,0,0,11,12.44,12.44,0,0,0,9.52,5.65,11.65,11.65,0,0,0,5.69-1.3A11.86,11.86,0,0,0,97.51,210.19Z"/>
                    <path class="wbfill" d="M64.17,205.51a16.71,16.71,0,0,0,2.53-8,17.22,17.22,0,0,0-2.14-8.21c-1.36-2.35-4.19-3.73-6.54-5.09a15.46,15.46,0,0,0-7.68-2.43,15.85,15.85,0,0,0-7.86,2.11,16.4,16.4,0,0,0-6.07,5.57,16.38,16.38,0,0,0-1.86,8,16.11,16.11,0,0,0,2,7.94,16,16,0,0,0,6,5.53,15.27,15.27,0,0,0,7.78,1.67c2.82,0,5.69,0,8-1.33A16.48,16.48,0,0,0,64.17,205.51Z"/>
                </svg>
            </a>
            <nav>
                <ul class="hidden-sm hidden-xs">
                    <li><a href="bijoux.html">Bijoux et designs</a></li>
                    <li><a href="laboratoire.html">Laboratoire</a></li>
                    <li><a href="affinage.html">Affinage</a></li>
                    <li><a href="importexport.html">Import export</a></li>
                </ul>
                <button class="btn header-button menu_button hidden-md hidden-lg" onclick="openMenu();"><i class="fa fa-bars"></i></button>
            </nav>
            <button class="btn header-button search_button" onclick="searchBar(event);"><i class="fa fa-search"></i></button>
        </header>

        <div id="search_container">
            <form class="" id="search_mini_form" action="" method="get">
                <div class="group">
                    <input id="search"
                           type="text"
                           name="q"
                           value=""
                           placeholder="Rechercher..."
                           class="form-control"
                           maxlength="256"
                           aria-haspopup="false"
                           aria-autocomplete="both"
                           aria-expanded="true"
                           autocomplete="off"/>

                    
                    <span class="highlight"></span>
                    <span class="bar"></span>
        
                </div>
            </form>
        </div>

        <div class="navigation hidden-md hidden-lg">
            <div class="menu-header">
                <button class="btn header-button active" onclick="closeMenu();"><i class="fas fa-times"></i></button>
            </div>
            <ul>
                <li><a href="bijoux.html"><i class="far fa-gem"></i>Bijoux et designs</a></li>
                <li><a href="laboratoire.html"><i class="fas fa-flask"></i>Laboratoire</a></li>
                <li><a href="affinage.html"><i class="fas fa-certificate"></i>Affinage</a></li>
                <li><a href="importexport.html"><i class="fas fa-globe"></i>Import export</a></li>
            </ul>
        </div>

        <div id="page-content">
            {% block body %}{% endblock %}
        </div>

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-logo-and-info col-xs-12 col-sm-10 col-md-9">
                        <div class="footer-logo col-xs-12 col-sm-12 col-md-4">
                            <svg viewBox="0 0 1259.26 430.96">
                                <path d="M690.68,37.19v3c-9.78,0-24.1,6.14-43,50.7L608.16,197.23h-5.91c-10.69-24.55-37.74-89.57-42.29-100l-36.37,100h-6.14C488.8,130.4,458.8,58.56,458.8,58.56c-7.5-18.41-13-18.19-18.87-18.41v-3h71.84v3c-17.28,0-6.59,26.37-6.59,26.37L538.59,147l19.78-53.88c-7-16.14-14.09-34.56-14.09-34.56-7.5-18.41-13-18.19-18.87-18.41v-3H597v3c-17.5,0-6.59,26.37-6.59,26.37l33.19,80.93,21.14-57.29c2.73-8,11.14-50-19.78-50v-3Z"/>
                                <path d="M745.93,197.23H694.09V194.5c8.64-2.73,9.09-12.28,9.09-23.87v-53c0-8-2.5-11.14-11.82-15.23v-3l45.24-9.32v80.48c0,12.5,1.14,21.6,9.32,23.87Z"/>
                                <path d="M717.51,41.05a18.53,18.53,0,1,1,0,37.06,18.53,18.53,0,1,1,0-37.06Z"/>
                                <path d="M805.94,199.28c-27.51,0-40.92-9.09-40.92-9.09v-29.1h3c4.09,15,17.05,35.24,38,35.24,16.14,0,19.32-19.55,2-30.92l-23-13.87c-21.82-13.87-27.51-34.33-14.32-50.24,0,0,8.41-11.14,32.74-11.14,26.14,0,37.28,6.59,37.28,6.59v24.32h-3c-3.41-14.09-15.91-28-34.33-28-14.78,0-21.37,16.14-1.59,28.64l23,14.32c20.46,12.5,26.37,35.24,14.55,50.92C839.36,187,830.72,199.28,805.94,199.28Z"/>
                                <path d="M907.79,199.28c-27.51,0-40.92-9.09-40.92-9.09v-29.1h3c4.09,15,17.05,35.24,38,35.24,16.14,0,19.32-19.55,2-30.92l-23-13.87c-21.82-13.87-27.51-34.33-14.32-50.24,0,0,8.41-11.14,32.74-11.14,26.14,0,37.28,6.59,37.28,6.59v24.32h-3c-3.41-14.09-15.91-28-34.33-28-14.78,0-21.37,16.14-1.59,28.64l23,14.32c20.46,12.5,26.37,35.24,14.55,50.92C941.21,187,932.57,199.28,907.79,199.28Z"/>
                                <path d="M1029.42,184.73c-15.23-3.41-26.37-13.64-27.28-42.06h67.06c0-39.1-19.1-52.51-47.74-52.51-29.55,0-55.24,19.55-55.24,55,0,28.64,22.28,54.11,52.06,54.11,29.55,0,44.56-17.05,47.74-31.37l-3-1.14C1058.06,181.77,1041.24,187.46,1029.42,184.73Zm-8-91.62c11.37,0,17.51,18,17.51,46.6h-36.83C1002.14,117.89,1009.41,93.11,1021.46,93.11Z"/>
                                <path d="M1259.26,197.23h-51.83V194.5c8.64-2.5,9.09-12.5,9.09-24.1V125.62c0-13-4.32-19.1-13.41-19.1-7,0-15.23,7.28-15.46,14.78v49.1c0,12.5,1.36,22.05,9.32,24.1v2.73h-51.83V194.5c8.64-2.5,9.09-12.5,9.09-24.1V125.62c0-13-4.09-19.1-13.19-19.1-6.82,0-13.87,7.28-15.23,13.64v50.7c0,12.5,1.14,21.37,9.32,23.64v2.73H1083.3V194.5c8.64-2.5,8.87-12,8.87-23.64V118.12c0-8-2.27-11.59-11.59-15.69v-3l45.24-9.32v22.51c5.68-12.5,17.5-22.51,30.92-22.51,15.91,0,27.73,6.59,30.46,23.87,5-13.64,18-23.87,31.83-23.87,18,0,30.92,7.27,30.92,34.56v45.69c0,12.5,1.36,22.05,9.32,24.1Z"/>
                                <path class="cls-1" d="M532.85,297.06c4.55,0,36.6-3,36.6-38.87,0-35.69-25.46-39.1-57.06-39.1H471.93v2c10,0,13.19,8.41,13.19,22.51V353.89c0,15.46-3.41,23.19-13.19,23.19v2h40.47c39.33,0,67.75-1.36,67.75-40.69C580.14,300.24,547.63,297.06,532.85,297.06Zm-29.33-75.48h10.69c15.46,0,34.33,3.18,34.33,36.37,0,34.78-14.09,38.88-28.87,38.88H503.53Zm10.69,155H503.53V299.33h16.14c17.73,0,39.1.91,39.1,38.19C558.77,377.08,536.94,376.63,514.21,376.63Z"/>
                                <path class="cls-1" d="M633.56,379.13H599.69v-2.5c8.64-2.5,9.09-3.64,9.09-15.23V291.83c0-7.73-1.82-10.91-11.37-12.28v-2.27l26.83-5.23v89.34c0,12.5,1.14,13.19,9.32,15.23Z"/>
                                <path class="cls-1" d="M604.69,243.18a9.51,9.51,0,0,1,9.55-9.78,9.66,9.66,0,1,1,0,19.32A9.46,9.46,0,0,1,604.69,243.18Z"/>
                                <path class="cls-1" d="M659.71,293c0-7.73-1.36-12-11.14-13.41v-2.27l26.83-5.23v95.71c0,43-13.64,57.52-36.15,63.2v-2.27c20.46-6.82,20.46-43.65,20.46-55.7Z"/>
                                <path class="cls-1" d="M655.84,243.18a9.38,9.38,0,0,1,9.55-9.78,9.7,9.7,0,0,1,9.78,9.78,9.8,9.8,0,0,1-9.78,9.55A9.46,9.46,0,0,1,655.84,243.18Z"/>
                                <path class="cls-1" d="M754.28,272.05c-34.56,0-51.61,24.55-51.61,54.56,0,29.78,17,54.56,51.61,54.56,34.78,0,51.6-24.78,51.6-54.56C805.89,296.6,789.06,272.05,754.28,272.05Zm0,106.62c-18,0-33.42-10.91-33.42-52.06s15.46-52.06,33.42-52.06,33.19,10.91,33.19,52.06S772.24,378.67,754.28,378.67Z"/>
                                <path class="cls-1" d="M924.78,377.31l-22.05,3.64c-5.23,1.14-5.23-3-5.23-3V359.12c-3.18,11.59-16.14,22.05-31.83,22.05s-34.33-5.23-34.33-34.1V294.78c0-15.23,0-16.14-12.73-16.14v-2.5l28-4.09v74.34c0,19.32,12.5,26.14,25.69,26.14,13.64,0,21.82-9.09,25.23-18.87v-60c0-13.87.23-14.78-10.68-15v-2.5l26.37-4.09v89.12c0,10.91,2,12.73,11.59,13.87Z"/>
                                <path class="cls-1" d="M1042.09,376.85v2.27h-41.15v-2.27c12,0,0-16.14,0-16.14l-18.19-26.37L975,345.25c-15,22.73-20.23,31.6-.46,31.6v2.27H931.15v-2.27c8.18,0,18,1.59,42.06-33.19l8-11.37L951.38,289.1c-9.09-11.37-12.28-12.5-19.32-12.73V274.1h42.06v2.27c-5.68,0-10.91,3.41-1.59,16.82l17.28,25.23,7.28-10.23c11.14-18,21.14-31.83-2.73-31.83V274.1h47.06v2.27c-10.46.23-19.32-.91-42.51,33.65l-7.73,10.68,29.55,43.42C1029.36,376.63,1038,376.4,1042.09,376.85Z"/>
                                <path d="M247.43,81.89l-20.6-18.57L148.33,243l-.35-.23c-2.25-1.3-5-1.35-7.74-1.35s-5.78-.43-8,.87-3.42,4.19-4.76,6.51-2.63,4.6-2.63,7.38.18,5.8,1.48,8,3.85,4.06,6.17,5.4a21.1,21.1,0,0,0,3.5,1.64l-10.22,23.39L332.89,306l4.14.13,12.05-28.33L307.2,234.55l55.56,3,4.47-.55,10.2-24.06,1.47-3.36ZM207,170.45l35.7,35.82L209.83,205l-17.88-.16ZM317.81,280.17l-46.85-2-48-3.46-59.76-4.05,18.73-42.87,86.59,3.53Zm-17-70.45-22.35-1.25-58.32-57.26L216.77,148l19-43.53L346.48,213.77Z"/>
                                <path d="M209.28,0C93.7,0,0,93.7,0,209.28S93.7,418.56,209.28,418.56s209.28-93.7,209.28-209.28S324.86,0,209.28,0Zm0,394.9A184.78,184.78,0,0,1,89.85,351.26,14.12,14.12,0,0,0,92.47,348a15.2,15.2,0,0,0,2.41-7.24c0-2.57-1.43-5-2.63-7.11a14.73,14.73,0,0,0-12.32-7.31c-2.57,0-4.61,1.64-6.69,2.84a17.36,17.36,0,0,0-3.41,2.46,186.14,186.14,0,0,1-29.92-46.43c1-.88,1.92-1.89,2.87-2.84a15.23,15.23,0,0,0,4.89-12.61c0-2.5,1.4-5.27.49-7.45s-2.93-4.2-4.63-5.9-3.62-3.75-5.88-4.69-5-.61-7.47-.61a9,9,0,0,0-1.73.18,185.51,185.51,0,0,1-4.8-42c0-102.35,83.27-185.62,185.62-185.62S394.9,106.93,394.9,209.28,311.63,394.9,209.28,394.9Z"/>
                                <path d="M110.07,288.24a8.82,8.82,0,0,0-6.26,2.66,8.43,8.43,0,0,0-2.15,6.26,7.8,7.8,0,0,0,8.41,8.46,7.81,7.81,0,0,0,8.58-8.46c0-2.46-.48-4.87-2.09-6.48A9.17,9.17,0,0,0,110.07,288.24Z"/>
                                <path d="M66.7,300a5.65,5.65,0,0,0-6.21,6.12,5.85,5.85,0,0,0,1.91,4.3,5.94,5.94,0,0,0,4.3,2,6.05,6.05,0,0,0,4.39-1.92,6,6,0,0,0,1.82-4.39,6.09,6.09,0,0,0-1.74-4.47A6,6,0,0,0,66.7,300Z"/>
                                <path d="M92.36,272.15c-1.27-2.19-2.78-4.48-5-5.75s-4.83-1.48-7.46-1.48a13.89,13.89,0,0,0-7,2.27c-2.19,1.27-4.34,2.66-5.61,4.86s-1.25,4.65-1.25,7.29-.1,5.23,1.13,7.36,3.57,3.47,5.76,4.74a13.53,13.53,0,0,0,7,2c2.63,0,5.38.16,7.51-1.07a15.65,15.65,0,0,0,5.5-5.49c1.23-2.13,1.12-4.88,1.12-7.51A14,14,0,0,0,92.36,272.15Z"/>
                                <path d="M136.09,222c2.67,0,5.63.74,7.94-.22a21.78,21.78,0,0,0,6.64-4.59c1.81-1.81,2.66-4.63,3.65-7a19.81,19.81,0,0,0,1.59-7.55c0-2.67,0-5.49-1-7.81s-3.05-4.37-4.86-6.18a20,20,0,0,0-6.41-4.32,19.74,19.74,0,0,0-7.59-1c-2.67,0-5.37-.16-7.69.8a21.12,21.12,0,0,0-6.82,4.05c-1.81,1.81-2,4.87-3,7.28a18.15,18.15,0,0,0-1.48,7.23c0,2.67-1.27,5.66-.31,8s4.28,3.38,6.09,5.19,3.4,3.6,5.8,4.6A18.86,18.86,0,0,0,136.09,222Z"/>
                                <path d="M111.91,241.23c1.06-1.84.61-4.22.61-6.5a11.75,11.75,0,0,0-1.24-6.13,12.63,12.63,0,0,0-3.47-3.93,9.47,9.47,0,0,0,2.41-6.48,8.79,8.79,0,0,0-2.94-6.13,8.65,8.65,0,0,0-6.13-2.8,8.84,8.84,0,0,0-6.27,2.66c-1.61,1.61-3.15,3.81-3.15,6.27a9.79,9.79,0,0,0,2.67,6.47c-1.8,1-3.65,2-4.68,3.75a15.83,15.83,0,0,0,0,12.62,14.28,14.28,0,0,0,10.93,6.49,13.37,13.37,0,0,0,6.53-1.49A13.61,13.61,0,0,0,111.91,241.23Z"/>
                                <path d="M70.72,239.63a18.86,18.86,0,0,0,4-5.92,19.2,19.2,0,0,0,1.84-7c0-2.41-1.81-4.57-2.68-6.67s-1.12-5-2.76-6.67-4.58-1.64-6.76-2.54a16.39,16.39,0,0,0-6.58-.88c-2.41,0-5.11-1.52-7.21-.65s-3.61,3.31-5.25,4.95a18,18,0,0,0-4.22,5.55,18.24,18.24,0,0,0-1.36,6.91,18.89,18.89,0,0,0,1,7.06A18.83,18.83,0,0,0,45,239.5a18.57,18.57,0,0,0,5.83,4,18.45,18.45,0,0,0,7,1,17.32,17.32,0,0,0,6.65-1.79C66.6,241.84,69.08,241.27,70.72,239.63Z"/>
                            </svg>
                        </div>
                        <div class="footer-address col-xs-12 col-sm-6 col-md-4">
                            <p>
                                Ouled Fayet 16000, Alger. Algerie
                            </p>
                        </div>
                        <div class="footer-contact col-xs-12 col-sm-6 col-md-4">
                            <p>+213 065 252 552<br/>
                            email@example.com</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 pull-right">
                        <a href="https://www.facebook.com/WissemBijoux/" class="footer-fb-link pull-right">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </div>
                </div>
                <div class="copyright">
                    <p>
                        2018 © Wissem Bijoux, tous droits résérvés
                    </p>
                </div>
            </div>


            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            
            <script src="{{ asset('assets/public/templates/white/js/wbtheme.js') }}"></script>
        </footer>
    </body>
</html>